:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --very-dark-blue-opacity-10: hsla(212, 21%, 14%, 0.10);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background: var(--cream);
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-size: 0.875rem;
  font-family: Montserrat, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: 500;
}

main {
  max-width: 600px;
  height: 450px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 10px 40px var(--very-dark-blue-opacity-10);
  > div {
    width: 50%;
  }
}

.product-container {
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.perfume {
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  font-size: 13px;
}

.title {
  font-family: Fraunces, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 32px;
  line-height: 2rem;
  color: var(--very-dark-blue);
}

.description {
  color: var(--dark-grayish-blue);
  line-height: 1.4rem;
}

.price-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  .price {
    color: var(--dark-cyan);
    font-size: 2rem;
    font-family: Fraunces, "Franklin Gothic Medium", "Arial Narrow", Arial,
      sans-serif;
  }

  .old-price {
    color: var(--dark-grayish-blue);
    font-size: 0.825rem;
    text-decoration: line-through;
  }
}

.cart-btn {
  background-color: var(--dark-cyan);
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  border: none;
  border-radius: 8px;
  font-size: 0.875rem;
  font-family: Montserrat, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  transition: background-color 200ms;
  &:hover {
    cursor: pointer;
    background-color: var(--very-dark-blue);
  }
}

/* Media Query */
@media screen and (max-width: 680px) {
  main {
    max-width: 375px;
    height: auto;
    flex-direction: column;
    > div {
      width: 100%;
    }
  }
}

/* Default styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
